@model WebLibrary.Models.BOOKS_REVIEWS

@{
    IEnumerable<WebLibrary.Models.BOOKS> CmpList = ViewBag.CmpList;
    ViewBag.Title = "Додавання";
}

<h2>Додавання відгука до книги @ViewBag.Book</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BR_BK, "Книга", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BR_BK, CmpList.Select(z => new SelectListItem() { Text = z.BK_NAME, Value = (z.BK_ID).ToString(), Selected = true }), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BR_BK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BR_R, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BR_R, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BR_R, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Додати" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "BookReviews", new { id = CmpList.First().BK_ID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
