@model IEnumerable<LibraryDataEF.BOOKS_AUTHORS>

@{
    int bk_id = ViewBag.Id;
    ViewBag.Title = "Автори даної книги";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Додати автора для даної книги", "Create", new { id = bk_id })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AUTHORS.AU_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOKS.BK_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AUTHORS.AU_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOKS.BK_NAME)
        </td>
        <td>
            
            @Html.ActionLink("Видалити", "Delete", new { id=item.BA_ID,bk_id=item.BA_BK })
        </td>
    </tr>
}

</table>
